In [4]:
import pandas as pd

c20 = pd.read_csv("C_20.csv")
c20.head()

In [28]:
bank = pd.read_csv("banks.csv", sep='\t')
bank.head()

    ApplicationNo CurrentStatus
0  PMS07200076795     Picked Up
1  PMS10202825784     Picked Up
2  PMS08200684905     Picked Up
3  PMS10202641627     Picked Up
4  PMS07200242980     Picked Up

In [29]:
san = pd.read_csv("sanctioned.csv",sep='\t')
san.head()

    ApplicationNo CurrentStatus
0  PMS09202560131    Sanctioned
1  PMS10202574382    Sanctioned
2  PMS09202558494    Sanctioned
3  PMS10202726133    Sanctioned
4  PMS10202579525    Sanctioned

In [30]:

print(san.columns)
san.set_axis(['pms_no', 'CurrentStatus'], axis='columns', inplace=True)
#san.columns = ['pms_no', 'CurrentStatus']
print(san.columns)

Index(['ApplicationNo', 'CurrentStatus'], dtype='object')
Index(['pms_no', 'CurrentStatus'], dtype='object')

/var/folders/n6/n9ptv0ps3bl_0nc3xx0m1lkm0000gp/T/ipykernel_9387/4082794895.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  san.set_axis(['pms_no', 'CurrentStatus'], axis='columns', inplace=True)

In [31]:
san.columns

Index(['pms_no', 'CurrentStatus'], dtype='object')

In [32]:
bank.columns

Index(['ApplicationNo', 'CurrentStatus'], dtype='object')

In [33]:
bank.set_axis(['pms_no', 'CurrentStatus'], axis='columns', inplace=True)
print(bank.columns)

Index(['pms_no', 'CurrentStatus'], dtype='object')

/var/folders/n6/n9ptv0ps3bl_0nc3xx0m1lkm0000gp/T/ipykernel_9387/70305906.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  bank.set_axis(['pms_no', 'CurrentStatus'], axis='columns', inplace=True)

In [34]:
bank.columns

Index(['pms_no', 'CurrentStatus'], dtype='object')

In [47]:
df_cd = pd.merge(c20, bank, how='outer', on='pms_no')
bank_san = [bank,san]
bank_san_concat = pd.concat(bank_san)
display(bank_san_concat)

             pms_no CurrentStatus
0    PMS07200076795     Picked Up
1    PMS10202825784     Picked Up
2    PMS08200684905     Picked Up
3    PMS10202641627     Picked Up
4    PMS07200242980     Picked Up
..              ...           ...
444  PMS01214283530    Sanctioned
445  PMS03214800525    Sanctioned
446  PMS03214846584    Sanctioned
447  PMS03214897502    Sanctioned
448  PMS05215220667    Sanctioned

[509 rows x 2 columns]

In [49]:

merg_c20_bank = pd.merge(c20, bank, how='outer', on='pms_no')
display(merg_c20_bank)

,Sl No,mobile_no,emergency_contact_no,ulb_name,business_ward,id,streetvendorid,id_card_no,license_no,sv_name,...,dailysales,dailyincome,divisionward_name,divisionward_no,enrty_type_sv,inserted_time,Service provider/Remarks,srn_no,pms_no,CurrentStatus
0,1.0,7097866163,6001513710,20-Serilingampally,Ward-104,550452.0,3.258840e+10,SV32588403850,Vending Certificate Not Generated,Salim uddin,...,0.0,0.0,-,-,Mobile,32:32.2,NaN,NaN,PMS03214927752,NaN
1,2.0,9640057376,6203452343,20-Serilingampally,Ward-104,472857.0,3.258840e+10,SV32588403727,Vending Certificate Not Generated,Sajjan Kumar Singh,...,0.0,0.0,-,-,Mobile,18:40.9,NaN,NaN,PMS09202214249,NaN
2,3.0,7032261133,6204136534,20-Serilingampally,Ward-104,600500.0,3.258840e+10,SV32588404314,Vending Certificate Not Generated,Ram Pravesh kumar,...,0.0,0.0,-,-,Mobile,09:30.9,NaN,NaN,PMS09202179231,NaN
3,4.0,9912061144,6281010447,20-Serilingampally,Ward-104,382011.0,3.258840e+10,SV32588403337,Vending Certificate Not Generated,k. balaiah,...,0.0,0.0,-,-,Mobile,35:24.9,NaN,NaN,PMS09201995940,NaN
4,5.0,7396048878,6281030871,20-Serilingampally,Ward-106,564742.0,3.258840e+10,SV32588403910,Vending Certificate Not Generated,B.PARVATHI,...,0.0,0.0,-,-,Mobile,15:36.0,NaN,NaN,PMS09202238898,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PMS12203983273,Picked Up
4750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PMS08201205085,Picked Up
4751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PMS11203578399,Picked Up
4752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PMS01214396646,Picked Up
4753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PMS01214187639,Picked Up

In [50]:
merg_c20_bank.to_csv('PMS_Status.csv')

In [39]:
merg_c20_bank_san.head()

,Sl No,mobile_no,emergency_contact_no,ulb_name,business_ward,id,streetvendorid,id_card_no,license_no,sv_name,...,dailyincome,divisionward_name,divisionward_no,enrty_type_sv,inserted_time,Service provider/Remarks,srn_no,pms_no,CurrentStatus_x,CurrentStatus_y
0,1.0,7097866163,6001513710,20-Serilingampally,Ward-104,550452.0,3.258840e+10,SV32588403850,Vending Certificate Not Generated,Salim uddin,...,0.0,-,-,Mobile,32:32.2,NaN,NaN,PMS03214927752,NaN,NaN
1,2.0,9640057376,6203452343,20-Serilingampally,Ward-104,472857.0,3.258840e+10,SV32588403727,Vending Certificate Not Generated,Sajjan Kumar Singh,...,0.0,-,-,Mobile,18:40.9,NaN,NaN,PMS09202214249,NaN,NaN
2,3.0,7032261133,6204136534,20-Serilingampally,Ward-104,600500.0,3.258840e+10,SV32588404314,Vending Certificate Not Generated,Ram Pravesh kumar,...,0.0,-,-,Mobile,09:30.9,NaN,NaN,PMS09202179231,NaN,NaN
3,4.0,9912061144,6281010447,20-Serilingampally,Ward-104,382011.0,3.258840e+10,SV32588403337,Vending Certificate Not Generated,k. balaiah,...,0.0,-,-,Mobile,35:24.9,NaN,NaN,PMS09201995940,NaN,NaN
4,5.0,7396048878,6281030871,20-Serilingampally,Ward-106,564742.0,3.258840e+10,SV32588403910,Vending Certificate Not Generated,B.PARVATHI,...,0.0,-,-,Mobile,15:36.0,NaN,NaN,PMS09202238898,NaN,NaN